.hero-three {
  min-height: 100vh;
  background-color: var(--primary-color);
  display: flex;
  align-items: center;
  justify-content: center;
}
.hero-three .swiper-controls {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}
.hero-three .swiper-controls {
  order: 2;
}
.hero-three .span-11 {
  order: 1;
}
/* discount percentage tag  */
.discount-card {
  position: absolute;
  rotate: -45deg;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 1rem 2rem;
  border-radius: 0.5rem;
  color: var(--white-color);
  background-color: var(--secondary-color);
}
.discount-card h1 {
  font-size: 3.5rem;
  font-weight: 900;
}
.discount-card P {
  font-weight: 600;
}
.discount-card h1,
.discount-card p {
  margin: 0;
}
/* discount coupon tag  */
.coupon-1,
.coupon-2 {
  position: absolute;
  background: var(--white-color);
  border-radius: 0.75rem;
  padding: 1.5rem;
  box-shadow: var(--box-shadow);
  /* width: 180px; */
}

/*----------- slider-3 button styles ---------- */
.swiper-controls .button-next,
.swiper-controls .button-prev {
  /* note: border conflict with main.css  */
  border: none;
  color: var(--secondary-color);
  font-weight: 600;
  position: relative;
}
.swiper-controls .button-next::after,
.swiper-controls .button-prev::before {
  content: "";
  position: absolute;
  border: 1px solid var(--secondary-color);
}
.swiper-controls .button-prev::before {
  left: 0;
  height: 2.5rem;
  width: 3.75rem;
  border-right: 0;
}
.swiper-controls .button-next::after {
  right: 0;
  height: 2.5rem;
  width: 2.75rem;
  border-left: 0;
}

@media (min-width: 768px) {
  .hero-three .swiper-controls {
    flex-direction: column;
    order: 1;
  }
  .hero-three .span-11 {
    order: 2;
  }
  .discount-card {
    top: 60%;
    right: 38%;
    padding: 0.75rem 1rem;
  }

  .discount-card h1 {
    font-size: 2rem;
  }
  .coupon-1,
  .coupon-2 {
    padding: 1rem;
    width: 130px;
  }
  .coupon-1 {
    border-top: 3px solid var(--danger-color);
    rotate: -10deg;
    right: 1rem;
    bottom: 1rem;
  }
  .coupon-2 {
    border-top: 3px solid var(--secondary-color);
    rotate: 3deg;
    right: 1rem;
    top: 0;
  }
  /* hero image  */
  .hero-three-img {
    width: 340px;
    height: 340px;
    margin: 0 auto;
  }

  .hero-three-img img {
    border-radius: 50%;
  }
}
@media (min-width: 992px) {
  .discount-card {
    top: 50%;
    right: 38%;
    padding: 1rem 2rem;
  }

  .discount-card h1 {
    font-size: 3.5rem;
  }
  .coupon-1,
  .coupon-2 {
    padding: 1.5rem;
    width: 180px;
  }
  .coupon-1 {
    rotate: 10deg;
    right: 2rem;
    bottom: 4rem;
  }
  .coupon-2 {
    rotate: 3deg;
    right: 2rem;
    top: 3rem;
  }
  /* hero image  */
  .hero-three-img {
    width: 500px;
    height: 500px;
  }

  /* --------swiper-controls ------- */
  .swiper-controls .button-next,
  .swiper-controls .button-prev {
    rotate: -90deg;
  }
}
