.banner-three {
  min-height: 100vh;
  background-color: var(--primary-color);
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-container {
  display: block;
  position: relative;
}
.swiper-btn {
  position: absolute;
  bottom: 1rem;
  left: 5rem;
}
.button-prev,
.button-next {
  border: 1px solid var(--white-color);
  border-radius: 0.5rem 0 0.5rem 0;
  color: var(--white-color);
  display: flex;
  align-items: center;
  gap: 0.25rem;
  font-size: 1rem;
  z-index: 1;
}

  .coupon-1,
  .coupon-2 {
    position: absolute;
    color: var(--secondary-color);
    background: var(--white-color);
    border-radius: 12px;
    padding: 1.5rem;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    width: 180px;
  }

@media (min-width: 768px) {
  .banner-three .banner-three-img {
    height: 350px;
    width: 350px;
    margin: 0 auto;
  }
  .banner-three .banner-three-img img {
    border-radius: 50%;
  }
  .discount-card {
    position: absolute;
    bottom: 5rem;
    right: 38%;
    rotate: -40deg;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: .75rem 1.5rem;
    border-radius: 0.5rem;
    width: fit-content;
    color: var(--white-color);
    background-color: var(--secondary-color);
  }
   .discount-card h1 {
    font-weight: 900;
  }
  .discount-card P {
    font-weight: 600;
  }
  .discount-card h1,
  .discount-card p {
    margin: 0;
  }
.coupon-1,
  .coupon-2 {
    padding: 1rem;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    width: 130px;
  }
  .coupon-1 {
    top: 1.5rem;
    right: 1rem;
    border-top: 2px solid #f43f5e;
  }
  .coupon-2 {
    bottom: 1.5rem;
    right: .5rem;
    transform: rotate(8deg);
    border-top: 2px solid #6c5ce7;
  }
}

@media (min-width: 992px) {
  .banner-three .banner-three-img {
    height: 500px;
    width: 500px;
    margin: 0 auto;
  }

  .discount-card {
    position: absolute;
    bottom: 25%;
    right: 38%;
    rotate: -40deg;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 1rem 2rem;
    border-radius: 0.5rem;
    width: fit-content;
    color: var(--white-color);
    background-color: var(--secondary-color);
  }
  .discount-card h1 {
    font-weight: 900;
  }
  .discount-card P {
    font-weight: 600;
  }
  .discount-card h1,
  .discount-card p {
    margin: 0;
  }

  .coupon-1,
  .coupon-2 {
    padding: 1.5rem;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    width: 180px;
  }
  .coupon-1 {
    top: 3rem;
    right: 3rem;
    border-top: 5px solid #f43f5e;
  }
  .coupon-2 {
    bottom: 3rem;
    right: 3rem;
    transform: rotate(10deg);
    border-top: 5px solid #6c5ce7;
  }
}
